// Color Variables
$primary-color: #737c85;
$secondary-color: #42474c;
$text-color: #ffffff;
$text-color-light: #fff;
$text-color-dark: #1e1e4b;
$body-color: #42474c;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #42474c;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';
