{{ if .Site.Params.hero.enable }}
{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-section overlay bg-cover" style="background-image:url(/images/backgrounds/page-title.jpg);">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      {{ range .Site.Params.slider_item }}
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            {{ with .title }}
                <h1>{{ . }}</h1>
            {{ end }}
           
            {{ with .content }}
                <p>{{ . }}</p>
            {{ end }}
         
            {{ if .Site.Params.hero.button.enable }}
            <a href="{{ .button.link | absLangURL }}" class="btn btn-primary" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".7">{{ .button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
