{{ if .Site.Params.sekilas.enable }}
{{ "<!-- Hero-Slider Area -->" | safeHTML }}
<section class="bg-gray overflow-hidden">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-12 pr-5 pl-5">
      <div class="pb-3 pb-xl-5 pr-5 pl-5 text-center feature-blocks">
      <h2>{{ .Site.Params.sekilas.title }}</h2>
      </div>
        <div class="owl-carousel owl-theme text-center">
          {{ range .Site.Params.feature_item }}
          <div class="text-center">
            <i class="{{ .icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            {{ with .name }}
            <h3 class="mb-xl-4 mb-lg-3 mb-4">{{ . }}</h3>
            {{ end }}
            {{ with .content}}
            <p>{{ . }}</p>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
