{{ if .Site.Params.story.enable }}
{{ "<!-- story Area -->" | safeHTML }}
<section class="section overlay bg-cover" style="background-image:url(/images/backgrounds/success-story.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-8">
       <img class="img-fluid w-100" src="images/Aruto-Hiden.webp" alt="about image">
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5">
        {{ with .Site.Params.story.title }}
          <h2 class="section-title">{{ . }}</h2>
          {{ end }}
          {{ with .Site.Params.story.content }}
          <p>{{ . }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
